@charset "UTF-8";
/* vars */
/* $gray: #EAEAEA;
$black: #252A34;
$transparent: rgba(0, 0, 0, 0); */
@import url("../css/fonts.css");
/* @import url('../css/reseter.css');
 */
* {
  font-family: Roboto-Regular;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: #2f3841;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 845px) {
  body {
    width: 75%;
    margin: auto;
  }
}

/* HEADER */
@media screen and (min-width: 769px) {
  .headerContainer .headerIcon {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
    align-content: center;
    background-color: #35858B;
    border-radius: 0px 0px 15px 15px;
  }
  .headerLogo a {
    display: flex;
    align-content: center;
    background-color: #35858B;
  }
  .headerLogo img {
    border-radius: 5px;
    background-color: #35858B;
  }
  .headerContainer {
    display: flex;
    background-color: #35858B;
  }
  .headerMenu ul {
    background-color: #35858B;
  }
  .headerMenu ul li {
    font-size: 1rem;
    display: inline-block;
    margin: auto 5px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
    align-content: center;
    background-color: #35858B;
    border-radius: 0px 0px 15px 15px;
    /* .headerContainer:hover{
    display: flex;
    align-content: center;
    align-items: center;
} */
  }
  .headerMenu {
    display: none;
  }
  .headerIcon {
    width: 50px;
    height: 50px;
    background-color: #35858B;
  }
  .headerLogo a {
    display: flex;
    align-content: center;
    background-color: #35858B;
  }
  .headerLogo img {
    border-radius: 5px;
  }
  .headerContainer:hover .headerMenu {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0);
  }
  .headerMenu {
    background-color: #35858B;
  }
  .headerMenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    right: 42px;
    background: rgba(0, 0, 0, 0);
  }
  .headerMenu ul li {
    margin: 7px 0px;
  }
  .headerMenu a,
  .mainHeaderButton a,
  .servicesPublic p > a,
  .servicesMobile p > a {
    text-decoration: none;
    color: #eaeaea;
    background-color: #2f3841;
    padding: 5px;
    border-radius: 4px;
    font-size: 1rem;
  }
  .headerMenu a:hover,
  .mainHeaderButton a:hover,
  .servicesPublic p > a:hover,
  .servicesMobile p > a:hover {
    color: #2f3841;
    background-color: #eaeaea;
  }
}

/* MAIN - HEADER BLOCK */
.mainHeader {
  display: grid;
  margin: 20px 40px;
  /* gap: 5px; */
  /* grid-template-rows: repeat(7, 75px); 
    grid-template-columns: repeat(5, 1fr);
     */
  grid: repeat(4, 100px) repeat(3, auto)/repeat(5, 1fr);
  grid-template-areas: "mhi mhi mhi mhi mhi" "mhi mhi mhi mhi mhi" "mhi mhi mhi mhi mhi" "mhi mhi mhi mhi mhi" "mht mht mht mht ." "mhtx mhtx mhtx mhtx mhtx" "mhb mhb . . .";
  /* . celda vacía */
  /* justify-content: center; */
}

.mainHeaderImage {
  grid-area: mhi;
  justify-self: center;
  /* width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px; */
  display: flex;
  justify-content: center;
}

.mainHeaderTittle {
  grid-area: mht;
  padding: 15px 40px 10px 0px;
  margin-left: 10px;
  font-size: 2em;
}

.mainHeaderText {
  grid-area: mhtx;
  font-size: 1em;
  padding: 10px 0px;
  margin-left: 10px;
}

.mainHeaderButton {
  grid-area: mhb;
  font-size: 1em;
  padding: 10px 0px;
  margin-left: 10px;
}

.mainHeaderImg {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) {
  .mainHeader {
    display: grid;
    /* gap: 5px; */
    /* grid-template-rows: repeat(7, 75px); 
        grid-template-columns: repeat(5, 1fr);
         */
    grid: repeat(4, 100px)/repeat(5, 1fr);
    grid-template-areas: "mhi mhi mhi mht mht" "mhi mhi mhi mhtx mhtx" "mhi mhi mhi mhb mhb" "mhi mhi mhi . .";
    /* . celda vacía */
    /* justify-content: center; */
  }
  .mainHeaderImage {
    grid-area: mhi;
    /* justify-self: strecth minmax(100px, 1fr) fit-content; */
    /* justify-self: strecth; */
    /* revisar imagen  */
    /* width: 100%; */
    display: flex;
    justify-content: center;
  }
  .mainHeaderImg {
    max-width: 100%;
    height: auto;
  }
  .mainHeaderTittle {
    grid-area: mht;
    padding: 15px 40px 10px 0px;
    font-size: 2em;
  }
  .mainHeaderText {
    grid-area: mhtx;
    font-size: 1em;
    padding: 10px 0px;
  }
  .mainHeaderButton {
    grid-area: mhb;
    font-size: 1em;
    padding: 10px 0px;
  }
}

.slit-in-vertical {
  animation: slit-in-vertical 0.45s ease-out both;
}

/* MAIN - SERVICES BLOCK */
.services {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5vh auto;
  flex-flow: column nowrap;
  /* este cambia para desktop */
  /* align-content: center;
    align-items: center; */
}

.servicesPublicImg, .servicesMobileImg {
  border-radius: 500px;
  width: 200px;
  height: auto;
}

.servicesPublic p,
.servicesMobile p {
  font-size: 1em;
}

.servicesPublic, .servicesMobile {
  display: flex;
  align-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 10px auto;
}

.servicesPublic p, .servicesPublicLink,
.servicesMobile p, .servicesMobileLink {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .services {
    display: flex;
    justify-content: space-evenly;
    margin: 2.5vh auto;
    flex-flow: row nowrap;
    /*este cambia para desktop */
    /* align-content: center;
          align-items: center; */
  }
}

.headerMenu a,
.mainHeaderButton a,
.servicesPublic p > a,
.servicesMobile p > a {
  text-decoration: none;
  color: #eaeaea;
  background-color: #2f3841;
  padding: 5px;
  border-radius: 4px;
  font-size: 1rem;
}

.headerMenu a:hover,
.mainHeaderButton a:hover,
.servicesPublic p > a:hover,
.servicesMobile p > a:hover,
.bannerBox > a:hover {
  color: #2f3841;
  background-color: #eaeaea;
}

/* MAIN - BANNER BLOCK */
@media screen and (min-width: 768px) {
  .banner {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    flex-flow: row nowrap;
    /* Esto chao para desktop */
  }
}

.banner {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  flex-flow: column nowrap;
  /* Esto chao para desktop */
}

.bannerBox {
  display: flex;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.bannerTittle {
  font-size: 25px;
  margin: 20px auto;
}

.bannerText {
  font-size: 1rem;
  align-content: center;
}

.bannerBox a {
  /* revisar codigo */
  margin: 15px auto;
  text-decoration: none;
  color: #eaeaea;
  background-color: #2f3841;
  padding: 5px;
  border-radius: 4px;
  font-size: 1rem;
}

.bannerImg {
  display: flex;
  justify-content: center;
}

.bannerImg img {
  max-width: 100%;
  height: auto;
}

/* MAIN - ADS BLOCK */
.ads {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5vh auto;
}

.adsMainTittle {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px auto;
}

.ads aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.ads .adsHomeworks {
  display: none;
}

@media screen and (max-width: 630px) {
  .ads .adsHomeworks,
  .ads .adsTullave {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .ads .adsHomeworks,
  .ads .adsTullave {
    display: flex;
  }
}

.adsTullave p,
.adsPrints p,
.adsHomeworks p {
  font-size: 1rem;
  margin: 10px auto;
}

.adsTullave img,
.adsPrints img,
.adsHomeworks img {
  border-radius: 4px;
}

/* .adsHomeworks{
    display: none;
} */
/* FOOTER */
.footer {
  padding: 15px;
  /* text-decoration: none; */
  background-color: #4FBDBA;
  border-radius: 15px 15px 0px 0px;
}

.contactUs {
  padding: 10px;
  font-size: 1.5rem;
}

.infoWap,
.infoMail,
.infoMaps {
  padding: 5px;
  font-size: 1.2rem;
  display: flex;
  /* align-items: center;
    align-content: center; 
    mirar el ajuste de la imagen aqui
    */
}

.infoWap a,
.infoMail a,
.infoMaps a {
  color: #2f3841;
  display: inline-block;
}

.infoWap p,
.infoMail p,
.infoMaps p {
  display: inline-block;
  margin: auto 15px;
  /* align-items: center;
    align-content: center; */
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px auto;
}

/* .header,
.headerLogo a,
.headerContainer,
.headerContainer ul,
.headerContainer img,
.footer {
     background-color: #eaeaea; 
    background: indigo;
} */
/*# sourceMappingURL=style.css.map */